<h3>Modifier une ville</h3>
<%= simple_form_for(@ville) do |ville| %>
  <%= ville.input :name, placeholder: "Ex: Paris" %>
  <%= ville.input :latitude %>
  <%= ville.input :longitude %>
  <%= ville.submit 'Modifier', class: 'btn-add'%>
<% end %>
<%= link_to "Retour", villes_path %>
