<h3><%= @ville.name.capitalize%></h3>
<p>Latitude: <%= @ville.latitude %></p>
<p>Longitude: <%= @ville.longitude %></p>

<%= link_to "Modifier", edit_ville_path %>
<%= link_to "Supprimer", ville_path(@ville), data: { turbo_method: :delete, turbo_confirm: "Confirmer-vous ?"} %>
<%= link_to "Retour", villes_path %>
